<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/client/menu :: area(~{:: main})}">

<body th:fragment="main">

    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/client/index">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="/client/p">Sữa chữa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Chi tiết dịch vụ</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <!-- Image -->
            <div class="col">
                <div class="card mb-3" >
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5OgOfJYlMEBYwR8Ng19Apx6gUArMupHx1Lg&usqp=CAU" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">Sữa chữa máy nóng lạnh</h3>
                                Hư hỏng thường gặp ở tủ lạnh thường và tủ lạnh inverter <br>
                                <br>
                                – Tủ Lạnh Không hoạt động.<br>
                                – Tủ Lạnh Hoạt động nhưng hoàn toàn không lạnh.<br>
                                – Tủ Lạnh Hoạt động nhưng lạnh kém.<br>
                                – Tủ Lạnh Không đông đá.<br>
                                – Tủ Lạnh Không xả tuyết.<br>
                                – Tủ Lạnh Bị thủng dàn và hết gas.<br>
                                – Tủ lạnh bị hỏng lốc.<br>
                                – Gioăng cửa bị hỏng, hở không sử dụng được…<br>

                                Đó là những nguyên nhân gây ra hư hỏng tủ lạnh nếu quý khách gặp những trường hợp đó hãy liên hệ với trung tâm chúng tôi với những nhân viên kĩ thuật nhiệt tình nhanh nhẹn được đào tạo bài bản sẽ giúp quý khách khắc phục mọi hư hỏng một cách nhanh nhất có thể mà tủ lạnh vẫn hoạt động tốt nhất.
                            </div>
                            <div class="col">
                                <div class="col-lg-6" style="line-height: 40px;font-size: 18px;color: beige;float: left;background-color: rgb(206, 21, 21);"><i class="fa fa-phone"></i><a style="color: beige;" href="tel: 092377232"> Gọi ngay: 092377232</a></div>
                                <div class="col-lg-6" style="line-height: 40px;font-size: 18px;color: beige;float: right;background-color: rgb(150, 234, 240);">
                                    <a style="float: left; color: midnightblue;font-weight: 700;" href=""><img style="height: 30px;width: 30px;"  src="img/icon_zalomessage.png" alt=""> Zalo</a>
                                    <a style="float: right;color: midnightblue;font-weight: 700;" href=""><img style="height: 30px;width: 30px;" src="img/fb2.png" alt=""> Facebook</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card bg-light mb-3">
                    <div class="card-header bg-primary text-white text-uppercase">DỊCH VỤ NỔI BẬT</div>
                    <ul class="list-group category_block">
                        <li class="list-group-item"><a href="product.html">BẢO TRÌ MÁY LẠNH</a></li>
                        <li class="list-group-item"><a href="product.html">LẮP ĐẶT MÁY LẠNH</a></li>
                        <li class="list-group-item"><a href="product.html">BƠM GAS MÁY LẠNH</a></li>
                        <li class="list-group-item"><a href="product.html">SỬA LÒ VI SÓNG</a></li>
                        <li class="list-group-item"><a href="product.html">SỬA TỦ LẠNH</a></li>
                        <li class="list-group-item"><a href="product.html">SỬA MÁY GIẶT</a></li>
                        <li class="list-group-item"><a href="product.html">SỬA MÁY NƯỚC NÓNG</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="row">
            <!-- Reviews -->
            <div class="col-12" id="reviews">
                <div class="card border-light mb-3">
                    <div style="background-color: yellowgreen;" class="card-header text-uppercase"><h3 style="text-align: center;color: brown;font-weight: 800;">Liện hệ với chúng tôi để dược tư vấn miễn phí</h3></div>
                    <div class="card-body">
                        <div class="review">
                            >>> Hãy liên hệ ngay 0938079687  - 0934363522 sẽ được công ty chúng tôi tư vấn thắc mắc của bạn hoàn toàn miễn phí kể cả thứ 7 và chủ nhật.  Ngoài ra, công ty chúng tôi còn cung cấp dịch vụ sửa máy giặt tại nhà, sửa tủ lạnh tại nhà uy tín - chất lượng- giá rẻ.

                            <hr>
                        </div>
                        <div class="review">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            <meta itemprop="datePublished" content="01-01-2016">January 01, 2018

                            <span class="fa fa-star" aria-hidden="true"></span>
                            <span class="fa fa-star" aria-hidden="true"></span>
                            <span class="fa fa-star" aria-hidden="true"></span>
                            <span class="fa fa-star" aria-hidden="true"></span>
                            <span class="fa fa-star" aria-hidden="true"></span>
                            by Paul Smith
                            <p class="blockquote">
                            <p class="mb-0">Điện Lạnh Bá Tuấn - nơi tin cậy của mọi nhà!  </p>
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
</body>
</html>
