<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/client/menu :: area(~{:: main})}">

<body th:fragment="main">

    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/client/index">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="/client/p">Sữa chữa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Chi tiết dịch vụ</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <!-- Image -->
            <div class="col" th:object="${service}">
                <div class="card mb-3" >
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img th:src="*{'data:image/jpeg;base64,'+{image}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">[(*{name})]</h3>
                                <div  th:utext="*{description}"> </div>
                            </div>
                            <div class=" mt-4" style="margin: 0;padding: 0;font-size: 16px;font-weight: 700;">
                                <ul style="display: flex;justify-content:space-between;list-style: none;padding: 0;line-height: 50px;">
                                    <li style="background-color: rgb(167, 35, 35);padding: 0 17px;"><a style="color: #fff;"  href="tel: 0903758676"><i class="fa fa-phone"></i> Gọi ngay: 0903.758.676</a></li>
                                    <li style="background-color: aquamarine;padding: 0 35px;" ><a href="https://zalo.me/0903758676"  target="_blanl"><img style="height: 30px;width: 30px;"  src="/client/img/icon_zalomessage.png" alt=""> Zalo</a></li>
                                    <li style="background-color: rgb(247, 245, 166);padding:0 25px;" ><a  href="https://www.facebook.com/%C4%90i%E1%BB%87n-l%E1%BA%A1nh-Th%C3%A0nh-Nam-102028988324495/"  target="_blanl"><img style="height: 30px;width: 30px;" src="/client/img/fb2.png" alt=""> Facebook</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card bg-light mb-3">
                    <div  class="card-header text-white text-uppercase"style="text-align: center;font-weight: 700;background-color: rgb(2, 54, 54);">Dịch vụ của chúng tôi</div>
                    <ul  class="list-group category_block" th:each="c: ${listService}" th:object="${c}">
                        <li class="list-group-item text-uppercase" style="background-color: darkkhaki;"> <a th:href="@{|/client/detailService/*{id}|}" th:text="*{name}"></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Reviews -->
            <div class="col-12" id="reviews">
                <div class="card border-light mb-3">
                    <div style="background-color: yellowgreen;" class="card-header text-uppercase"><h3 style="text-align: center;color: brown;font-weight: 800;">Liện hệ với chúng tôi để dược tư vấn miễn phí</h3></div>
                    <div class="card-body">
                        <div class="review">
                            >>> Hãy liên hệ ngay 0938079687  - 0934363522 sẽ được công ty chúng tôi tư vấn thắc mắc của bạn hoàn toàn miễn phí kể cả thứ 7 và chủ nhật.  Ngoài ra, công ty chúng tôi còn cung cấp dịch vụ sửa máy giặt tại nhà, sửa tủ lạnh tại nhà uy tín - chất lượng- giá rẻ.

                            <hr>
                        </div>
                        <div class="review">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            <meta itemprop="datePublished" content="01-01-2016">January 01, 2018

                            <span class="fa fa-star" aria-hidden="true"></span>
                            <span class="fa fa-star" aria-hidden="true"></span>
                            <span class="fa fa-star" aria-hidden="true"></span>
                            <span class="fa fa-star" aria-hidden="true"></span>
                            <span class="fa fa-star" aria-hidden="true"></span>
                            by Paul Smith
                            <p class="blockquote">
                            <p class="mb-0">Điện Lạnh Bá Tuấn - nơi tin cậy của mọi nhà!  </p>
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
