<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/client/menu :: area(~{:: main})}">
<body th:fragment="main">

<div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/client/index">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sữa chữa</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
<div class="container mb-5">
    <div class="row">
        <div class="col-12 col-lg-3">
            <div class="card bg-light mb-3">
                <div style="background-color: #975400" class="card-header bg-primary text-white text-uppercase">DỊCH VỤ NỔI BẬT</div>
                <ul class="list-group category_block" th:each="s: ${listService}" th:object="${s}">
                    <li class="list-group-item category-item_link"><a class="text_a" th:href="@{|/client/detailService/*{id}|}">[(*{name})]</a></li>
                </ul>
            </div>
            <div class="card bg-light mb-3 noibat">
                <div class="card-header bg-success text-white text-uppercase">Tin tức</div>
                <div class="card-body">
                    <img class="img-fluid img_infor" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5OgOfJYlMEBYwR8Ng19Apx6gUArMupHx1Lg&usqp=CAU" />
                    <h5 class="card-title service_info">Dieu hoa</h5>
                    <p class="card-text service_info" >Some quick example text to build on the card...</p>
                    <p class="bloc_left_price">4tr450  VND</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3 animation_card" th:each="c: ${listService}" th:object="${c}">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img th:src="*{'data:image/jpeg;base64,'+{image}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3  style="color: #902b2b;font-weight: 700;font-size: 35px" class="card-title" th:text="*{name}"></h3>

                            <div th:utext="*{description}" style="margin: 0;padding: 0;font-size: 14px" class="card-text home-product-item__name_2" > </div>

                            <div class="row">
                                <div class="col">
                                    <a th:href="@{|/client/detailService/*{id}|}" class="btn btn-primary">Chi tiết
                                        >></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>
