<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/client/menu :: area(~{:: main})}">
<body th:fragment="main">

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase"><i class="fa fa-home"></i> Liên hệ với
                    chúng tôi</div>
                <div class="card-body">
                    <div class="row">
                        <!-- Reviews -->
                        <div class="col-12" id="reviews">
                            <div class="card border-light mb-3">
                                <div class="card-body" style="background-color: rgb(241, 241, 188);">
                                    <div class="review" style="font-size: 17px; color:rgb(27, 54, 5);">
                                        <i> Hãy liên hệ ngay <a href="tel: 0898431993">0898431993</a> - <a href="tel: 0903758676">0903758676</a> sẽ được công ty chúng tôi tư vấn thắc mắc của bạn hoàn toàn miễn phí kể cả thứ 7 và chủ nhật.
                                            Ngoài ra, công ty chúng tôi còn cung cấp dịch vụ như:
                                            <ul style="list-style: none;">
                                                <li>- Mua bán trao đổi đồ củ lấy mới</li>
                                                <li>- Sửa chữa các thiết bị điện lạnh tại nhà</li>
                                                <li>- Vệ sinh thiết bị điện lạnh</li>
                                                <li>- Mua bán các thiết bị điện lạnh</li>
                                            </ul>
                                        </i>
                                        <i>Chính sách bảo hành rõ ràng hỗ trợ nhiệt tình.</i>
                                        <hr class="bg-white">
                                    </div>
                                    <div class="review" >
                                            <span class="blockquote" style="text-align: center;">
                                                <h3 style="color: rgb(41, 159, 228);" class="mb-0">Điện Lạnh Thành Nam - chất lượng tạo nên thương hiệu! <br> </h3>
                                                <p style="text-transform: uppercase;color: brown;font-weight: 700;">uy tín - chất lượng - giá rẻ</p>
                                            </span>
                                        <div style="color: rgb(241, 31, 31);">
                                            <h4><i class="fa fa-phone mr-4" style="color: rgb(75, 68, 68);"></i><a href="tel: 0898431993">0898431993</a> - <a href="tel: 0903758676">0903758676</a></h4>
                                            <h4><i class="fa fa-map-marker mr-4" style="color:#000;"></i> 1023 Lê Văn Lương, Phước Kiển, Nhà Bè, TP_HCM </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>