<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/admin/menu :: area(~{:: main})}">
<body th:fragment="main">


    <div class="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h2 style="text-align: center;" class="card-title">Chỉnh sửa danh mục</h2>
                <div class="table-responsive">
                  <form action="/admin/updated" th:object="${form}" style="font-size: 15px;"
                        method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                      <div class="form-group">
                        <label>Tên sản phẩm</label>
                        <input name="name" th:field="*{name}" placeholder="Tên sản phẩm" type="text" class="form-control" required>
                        <input hidden name="id" th:field="*{id}" type="text">
                      </div>
                      <div class="form-group">
                        <label>Giá </label>
                        <input name="price" th:field="*{price}" placeholder="Giá bán" type="number" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label>Số lượng</label>
                        <input th:field="*{qty}" name="qty" placeholder="Nhập số lượng" type="text" class="form-control" required>
                      </div>
                      <div class="form-check form-group">
                        <label>Loại hàng</label>
                        <br>
                        <div class=" form-check-inline mt-3">
                          <label style="margin-right: 25px;">
                            <input value="0" name="productType" th:field="*{productType}"   type="radio" style="height: 18px; width: 18px;"> Sản phẩm củ</label>
                          <label>
                            <input value="1" name="productType"  th:field="*{productType}" type="radio" style="height: 18px; width: 18px;"> Sản phẩm mới</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Loại sản phẩm</label>
                        <select th:required="true"  id="category" name="category" class="form-select" style="font-size: 16px;color: #022424;background-color: rgba(241,241,139,0.75)" >
                          <option th:text="*{category.name}" th:value="*{category.id}"></option>
                          <th:block th:each="item : ${listCategory}">
                            <option th:text="${item.name}" th:value="${item.id}"></option>
                          </th:block>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Hãng</label>
                        <select id="manufacturer" name="manufacturer" placeholder="Chọn thương hiệu" class="form-select" style="font-size: 16px;color: #022424;background-color: rgba(241,241,139,0.75)" required>
                          <option th:text="*{manufacturer}" th:value="*{manufacturer}"></option>
                          <option value="SAMSUNG">SAMSUNG</option>
                          <option value="PANASONIC">PANASONIC</option>
                          <option value="HITACHI">HITACHI</option>
                          <option value="DAIKIN">DAIKIN</option>
                          <option value="ELECTROLUX">ELECTROLUX</option>
                          <option value="LG">LG</option>
                          <option value="AQUA">AQUA</option>
                          <option value="SONY">SONY</option>
                          <option value="TOSHIBA">TOSHIBA</option>
                          <option value="MITSUBISHI">MITSUBISHI</option>
                          <option value="SANYO">SANYO</option>
                          <option value="SHARP">SHARP</option>
                          <option value="BEKO">BEKO</option>
                          <option value="GREE">GREE</option>
                          <option value="CASPER">CASPER</option>
                          <option value="MIDEA">MIDEA</option>
                          <option value="Khác">Khác</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label class="form-label" for="customFile1">Chọn ảnh 1 : <i style="color:red;"> [(*{nameImageF})]</i></label>
                        <input th:field="*{imageF}"  name="imageF" type="file" class="form-control" id="customFile1" />
                      </div>
                      <div class="form-group">
                        <label class="form-label" for="customFile2">Chọn ảnh 2 : <i style="color:red;"> [(*{nameImageS})]</i></label>
                        <input th:field="*{imageF}" name="imageF" type="file" class="form-control" id="customFile2" />
                      </div>
                      <div class="form-group">
                        <label class="form-label" for="customFile3">Chọn ảnh 3 : <i style="color:red;"> [(*{nameImageT})]</i></label>
                        <input th:field="*{imageF}" name="imageF"  type="file" class="form-control" id="customFile3" />
                      </div>

                      <div class="form-group">
                        <label>Mô tả</label>
                        <textarea th:field="*{description}" name="description"  class="form-control" required></textarea>
                      </div>
                    </div>
                    <div class="form-group" style="margin-left: 20px;">
                      <a href="/admin/product"><input type="button" class="btn btn-primary" style="padding: 8px 50px;"  value="Trở lại"></a>
                      <a href=""><input type="submit" class="btn btn-success" style="padding:8px 50px;color: #fff;" value="Sửa sản phẩm"></a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



</body>
</html>


